version: "3.8"

services:
  angular-frontend:
    image: sanchaljustgrow/testenvq:latest
    container_name: angular-frontend
    build: .
    ports:
      - "8080:80"
    environment:
      NODE_ENV: production
      NG_APP_ENV: prod
      NG_APP_API_URL: https://dummyjson.com
      NG_APP_VAR1: hello
      NG_APP_VAR2: world
