version: "3.8"
services:
  angular-frontend:
    image: sanchaljustgrow/docker-testnew-frontend:latest
    container_name: angular-frontend
    environment:
      - NG_APP_URL=https://task.thingsrms.com/v1
    ports:
      - "8081:80"
    volumes:
      - ./env.template.js:/usr/share/nginx/html/env.template.js:ro   # mount template into container
    entrypoint: ["/bin/sh","-c"]
    command: >
      envsubst '${NG_APP_URL}' < /usr/share/nginx/html/env.template.js > /usr/share/nginx/html/env.js
      && exec nginx -g 'daemon off;'
