version: "3.8"

services:
  angular-frontend:
    build: .
    image: sanchaljustgrow/docker-testnew-frontend:latest
    container_name: angular-frontend
    ports:
      - "8080:80"
    environment:
      NODE_ENV: production
      NG_APP_ENV: prod
      NG_APP_API_URL: "https://dummyjson.com/products/2"
      NG_APP_VAR1: hello
      NG_APP_VAR2: world
    restart: always
